.accessories {
    @extend .flex-between;
    flex-direction: column;
    padding: 4.8rem 0 8.2rem;
    gap: 3.2rem;

    .accessories-header {
        text-align: center;
        width: 47.7rem;
    }

    .container-accessories {
        @extend .flex-between;
        flex-wrap: wrap;
        width: 100%;
        gap: 3.2rem 4rem;

        .accessories-item {
            @extend .flex-column;
            gap: 1.2rem;
            text-align: center;
            width: 20rem;

            .img {
                max-width: 20rem;
                width: 100%;
            }

            .paragraph {
                color: $color-quartetary;
            }
        }
    }
}

@media (max-width: $win-tablet) {
    .accessories .container-accessories {
        justify-content: space-around;
    }
}

@media (max-width: $win-mobile) {
    .accessories {
        .accessories-header .title {
            margin-bottom: 2rem;
        }

        .container-accessories .accessories-item {
            .img {
                max-width: 15rem;
            }
        }
    }
}