.start, .mensage {
    background: $color-primary;
    padding: 6rem 0 14.6rem;
}

.mensage {
    padding: 9rem 0;
}

.container-text {
    @extend .flex-between;

    .section-text {
        @extend .flex-column;
        align-items: flex-start;
        min-width: 44rem;
        width: 44rem;

        .title {
            line-height: 5rem;
            width: 40rem;
        }

        .paragraph {
            margin: 2.4rem 0 4rem;
        }
    }
    
    .img {
        max-width: 60rem;
        min-width: 40rem;
        width: 100%;
    }
}

.mensage .container-text {
    gap: 3rem;

    .section-text {
        width: 45rem;
        min-width: 30rem;

        .paragraph {
            margin-bottom: 3.2rem;
        }
    }

    .img {
        max-width: 40rem;
        min-width: 30rem;
    }
}

@media (max-width: $win-tablet) {
    .container-text {
        justify-content: center;

        .section-text {
            width: 70%;
            text-align: center;
            align-items: center;

            .title {
                width: auto;
            }
        }

        .img {
            display: none;
        }
    }
}

@media (max-width: $win-mobile) {
    .container-text .section-text {
        width: 100%;
    }
}