$color-primary: #F7C7B9;
$color-secondary: #DA2535;
$color-tertiary: #404040;
$color-quartetary: #8D8D8D;
$color-quintetary: #161212;
$color-white: #F9F9F9;

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$font: (
    normal: (
        500: "Poppins-Regular.ttf",
        600: "Poppins-Medium.ttf",
    ),
    italic: ( 700: "Poppins-SemiBoldItalic.ttf" )
);

@each $font-type, $list-font in $font {
    @each $num, $nameArq in $list-font {
        @font-face {
            font-family: "Poopins";
            src: url("../font/#{$nameArq}");
            font-style: $font-type;
            font-weight: $num;
        }
    }
}

$size-fonts: (
    "html": 10px,
    "p, a, button, input": 1.6rem, 
    "input::placeholder": 1.6rem,
    "h1": 3.2rem, "h2": 2.4rem
);

@each $element, $size in $size-fonts {
    #{$element} {
        font-size: $size;
    }
}

$win-tablet: 768px;
$win-mobile: 650px;

$reponsive-size-root: (
    1440px: 9px,
    1024px: 8px,
    $win-tablet: 7px,
    $win-mobile: 6px,
);

@each $root-size, $size in $reponsive-size-root {
    @media (max-width: $root-size) {
        html {
            font-size: $size;
        }
    }
}

body {
    background: $color-white;
    color: $color-quintetary;
    font-family: "Poopins", sans-serif;
}