.flex {
    display: flex;
    align-items: center;
}

.flex-between {
    @extend .flex;
    justify-content: space-between;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    height: 100%;
    margin: auto;
    width: MIN(90%, 115rem);
}

.title {
    font-weight: 700;
    font-size: 4.8rem;
}

.paragraph {
    color: $color-tertiary;
}